.main {
  .top-panel {
    background-color: #5B5B5B;
    padding: 20px 10px;
    color: white;
    text-align: center;
  }
  .tab {
    position: relative;
  }
  .chapterList {
    li {
      height: 48px;
      line-height: 48px;
      border: 1px solid #cccccc;
      margin: 10px;
      padding: 0 10px;
      i {
        margin-right: 10px;
      }
      span {

      }
    }
  }
}
