.rise-pay {
  > .mask{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  > .member-show {
    border-radius: 8px;
    position: relative;
    margin: 40px 20px;
    padding: 15px;
    > .name{
      position: absolute;
      top:8px;
      right:0;
      padding:8px 5px;
      line-height:12px;
      font-size:12px;
      color:#FFF;
      background-color:rgba(255,255,255,0.15);
      border-radius:8px;
    }
    &.member1 {
      background: url('http://www.iquanwai.com/images/riseMember1bg.png') no-repeat center bottom/100% auto;
      box-shadow:0 -1px 10px rgba(78,206,206, 0.4);
    }
    &.member2 {
      background: url('http://www.iquanwai.com/images/riseMember2bg.png') no-repeat center bottom/100% auto;
      box-shadow:0 -1px 10px rgba(65,181,236, 0.4);
    }
    &.member3 {
      background: url('http://www.iquanwai.com/images/member3bg.png') no-repeat center bottom/100% auto;
      box-shadow:0 -1px 10px rgba(112, 143, 254, 0.4);
    }
    color: #FFF;

    > .tip1 {
      font-size: 12px;
      line-height: 12px;
    }
    > .tip2{
      color:#bfcbf5;
      padding-top:9px;
    }
    > ul {
      list-style: none;
      li {
        font-size: 16px;
        line-height: 16px;
        padding: 6px 0;
        &:before {
          content: "•";
          margin-right:8px;
          font-size:20px;
          float: left;
        }

        &:first-of-type{
          padding-top:15px;
        }
      }
    }
  }

  > .member-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    > .menu-item {
      -webkit-tap-highlight-color: rgba(255,255,255,0);
      text-align: center;
      flex-grow: 1;
      transform: translateY(55px);
      //margin-bottom:-55px;
      color:#FFFFFF;
      transition:transform 0.5s;
      &.open{
        animation:bounce .5s  alternate forwards;
        &.member1{
          box-shadow:0 -1px 10px rgba(78,206,206, 0.4);
        }
        &.member2{
          box-shadow:0 -1px 10px rgba(65,181,236, 0.4);
        }
        &.member3{
          box-shadow:0 -1px 10px rgba(112, 143, 254, 0.4);
        }
      }
      > .item {
        height: 55px;
        line-height: 55px;
      }
    }
  }

  > .choose-btn{
    position: fixed;
    bottom:200px;
    width:175px;
    height:40px;
    color:#FFF;
    line-height:40px;
    border-radius:4px;
    text-align: center;
    font-size:17px;
    &.member3{
      background:linear-gradient(to left bottom,#6bb3fb 20%,#708fff)
    }
    &.member1{
      background:linear-gradient(to left bottom,#6bb3fb 20%,#708fff)
    }
    &.member2{
      background:linear-gradient(to left bottom,#6bb3fb 20%,#708fff)
    }
  }

  > .member-type {
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    height: 200px;
    flex-direction: row;
    > .name {
      width: 14px;
      font-size: 14px;
      line-height: 14px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 5px;
      > span {

      }
    }
    > .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
      > .price {

      }
      > .description {
      }
    }
  }
}

@keyframes bounce {
  0% {transform: translateY(55px)}
  60% {transform: translateY(-15px);}
  85% {transform: translateY(0px);}
  100% {transform: translateY(-5px);}
}
