.feedback{
  > .feedback-header{
    height:55px;
    padding-left:18px;
    line-height:55px;
    color:#666666;
    border-bottom: 1px solid #f5f5f5;
  }

  > .feedback-container{
    > .tip {
      font-size: 11px;
      color: #666666;
      margin: 11px 18px;
      > .q{
        font-weight:bolder;
      }
      > .mg{
        margin-top:10px;
      }
      > .serverCode{
        margin:0 auto;
        img{
          height:100%;
          width:100%;
        }
      }
    }

    > .email{
      margin:17px auto 30px;
      font-size:16px;
      color:#484848;
      text-align: center;
    }
  }
}
