.point-tip{
  > .point-tip-title{
    height:55px;
    padding-left:15px;
    line-height:55px;
    color:#666666;
    border-bottom: 1px solid #f5f5f5;
  }
  > .point-tip-container{
    padding: 10px 15px;
    font-size:13px;
    color:#333333;
    ul{
      margin-left:1em;
    }
  }
}
