body {
  user-select: none;
  -webkit-user-select: none;
}

.weui_dialog {
  border-radius: 5px !important;
  .weui_dialog_ft {
    height: 58px;
    line-height: 58px;
    a {
      color: #2aa8aa;
    }
  }
}

.weui_btn.weui_btn_primary {
  background-color: #2aa8aa;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
}

.weui_btn.weui_btn_plain_primary {
  border-color: #2aa8aa;
  color: #2aa8aa;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
}

.weui_cells_checkbox .weui_check:checked + .weui_icon_checked:before {
  content: '●' !important;
  color: #2aa8aa !important;
  margin-top: -7px;
  font-size: 23px;
  display: block;
}

.check {
  .weui_icon_checked:before {
    content: '□' !important;
    margin-top: -7px;
  }
  .weui_check:checked + .weui_icon_checked:before {
    content: '■' !important;
    color: #2aa8aa !important;
    margin-top: -7px;
    font-size: 23px;
    display: block;
  }
}

.btn-container {
  text-align: center;
}

.weui_btn_dialog + .weui_btn_dialog {
  border-left: 1px solid #e7e7e7;
}

.global-pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
